<h1>Nos entremets</h1>

<ul class="list-group">
  <li class="list-group-item">
    <h4>Le Trois Chocolats</h4>
    Biscuit chocolat, croustillant praliné, mousse chocolat noir, mousse chocolat au lait, mousse chocolat blanc
  </li>
  <li class="list-group-item">
    <h4>Le Royal</h4>
    Dacquoise amande noisette, croustillant praliné, mousse chocolat noir
  </li>
  <li class="list-group-item">
    <h4>Le Chocolat Caramel beurre salé</h4>
    Brownie, mousse chocolat au lait et fève de Tonka, crémeux caramel au beurre salé et mousse chocolat noir
  </li>
  <li class="list-group-item">
    <h4>Passionnément framboise</h4>
    Dacquoise pistache, mousse framboise, confit fruit de la passion, nougatine amande
  </li>
  <li class="list-group-item">
    <h4>Myrtille Framboise</h4>
    Dacquoise pistache, mousse myrtille, confit framboise, nougatine amande
  </li>
  <li class="list-group-item">
    <h4>Soufflé passion</h4>
    Dacquoise coco, soufflé passion, éclats de framboises
  </li>
  <li class="list-group-item">
    <h4>Mangue passion</h4>
    Dacquoise coco, confit orange passion, mousse mague passion, crémeux citron vert, nougatine coco, chantilly mascarpone des îles
  </li>
</ul>
