<h1>Nos gâteaux décorés</h1>
Envie d'un gâteau décoré pour vos occasions : mariage, anniversaire, goûter d'enfant... ? Nous vous proposons des gâteaux décorés, personnalisés sur mesure, à base de pâte à sucre ainsi que des gâteaux 3D. Nous <%= link_to "contacter", "/contact" %> pour concevoir ensemble un gâteau qui vous ressemble.