<div class="row">
  <h1>Présentation</h1>
  <div class="col-md-8">
    Situé au c&oelig;ur d'un quartier résidentiel, à la jonction de Strasbourg et d'Illkirch, L'Îlot Sucré vous propose une escapade gourmande dans l'univers de la pâtisserie d'Ingrid et Vincent. Alliant modernité et classicisme, nos pâtisseries sont à l'image de leurs créateurs : une touche d'évasion et de voyage, un soucis de la qualité des produits et de l'équilibre des saveurs.<br /><br />
    La Canal Rhin-Rhône, aux abords duquel se trouve notre atelier, est pour nous source d'inspiration et d'invitation au voyage. Ainsi, nous mêlons saveurs d'ici et d'ailleurs, et sommes fiers de vous présenter les grands classiques de la pâtisserie française, tels les macarons, aux côtés de gâteaux décorés typiques des Etats-Unis.<br /><br />
    Imaginées et créées dans notre laboratoire, nos pâtisseries sont disponibles à la commande, à effectuer sur place, au téléphone ou par l'intermédiaire de notre site internet. Vous pouvez alors retirer vos commandes à notre atelier, ou très prochainement chez nos îlots partenaires, ou vous faire livrer par nos soins.
  </div>
  <div class="col-md-4">
    <%= image_tag 'ingrid.jpg', width: '100%' %>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-6">
    <h1>Ingrid</h1>
    <%= image_tag 'ingrid.png', width: '20%', class: 'pull-left', style: 'margin-right: 10px;' %>
    « Déjà enfant, je régalais ma famille en leur confectionnant des crèmes au chocolat. Aujourd'hui, c'est avec vous que je souhaite partager ma passion pour la pâtisserie, en vous faisant découvrir mon amour pour la recherche de l'équilibre et des associations de saveurs. Originaire de l'Île de la Réunion, j'aime apporter un peu d'exotisme et de soleil à vos papilles. »<br /><br />

<em>L'entremet qui me plaît</em> : Macaron géant rose litchi et son confit framboise et litchi<br />
<em>Le macaron pour lequel je fonds</em> : Macaron noix de coco<br />
<em>Ma tarte préférée</em> : Tarte au marron et crémeux myrtille<br />
<em>Ma spécialité</em> : le travail du chocolat
  </div>
  <div class="col-md-6">
    <h1>Vincent</h1>
  </div>
</div>