<%

macarons = [
  {
    type: "specialites",
    nom: "Nos spécialités",
    macarons: [
      {parfum: "Coco", image: "bientot"},
      {parfum: "Orange Passion Chocolat", image: "bientot"},
      {parfum: "Pistache Griotte", image: "pistache-griotte"},
      {parfum: "Rose Litchi", image: "rose-litchi"},
      {parfum: "Toffee Beurre salé", image: "bientot"}
    ]
  },
  {
    type: "fruits",
    nom: "Aux fruits",
    macarons: [
      {parfum: "Citron", image: "citron"},
      {parfum: "Fraise", image: "fraise"},
      {parfum: "Framboise", image: "framboise"},
      {parfum: "Myrtille", image: "myrtille"}
    ]
  },
  {
    type: "classiqes",
    nom: "Les classiques",
    macarons: [
      {parfum: "Café", image: "cafe"},
      {parfum: "Chocolat", image: "chocolat"},
      {parfum: "Pistache", image: "pistache"},
      {parfum: "Vanille", image: "vanille"}
    ]
  }
]

%>

  <div id="ht-main-content" class="menu">

    <div id="ht-menu" class="set">
      <div class="container">
        <div id="filter-container" class="menu-set">
          <div class="row">
            
            <div class="a-set col-sm-6 col-xs-12">
              <div class="ht-page-heading col-xs-12" style="padding-top: 50px;">
                <div class="main-heading">
                  <h1><strong>&middot;</strong> Nos macarons <strong>&middot;</strong></h1>
                </div>
              </div>
            
              <div class="dish col-xs-12 onscreen-marker">
                <div class="content col-lg-12 col-md-12 col-xs-12">
                  <img src="https://41.media.tumblr.com/2c39809519513f60b7a860981bc4cfb6/tumblr_nvpdwg11B31uadryro1_500h.jpg" />
                </div><!-- content -->
              </div><!-- / dish -->
            
              <div class="dish col-xs-12 onscreen-marker">
                <div class="content col-lg-12 col-md-12 col-xs-12">
                  &Agrave; L'&Icirc;lot Sucré, pas de surgelés industriels ou de mix: nous réalisons nos coques en mélangeant du sucre glace et de la <strong>poudre d'amande de qualité</strong>. Quand à nos ganaches, elles sont élaborées à partir de <strong>chocolat belge</strong>, de <strong>pulpes de fruit</strong> de qualité et de <strong>crème Alsace Lait&copy; Label Rouge</strong>.<!--img src="http://www.paq.fr/userfiles/logo%20LR(1).jpg" style="height: 25px; display: inline" /--> Nous imaginons sans cesse de nouvelles recettes pour vous surprendre et vous régaler.
                </div><!-- content -->
              </div><!-- / dish -->
            
              <div class="dish col-xs-12 onscreen-marker">
                <div class="content col-lg-12 col-md-12 col-xs-12">
                  <table class="table">
                    <tr class="success">
                      <td>Coffret de 7 macarons</td>
                      <td>8,75 €</td>
                    </tr>
                  </table>
                  <span class="label label-success">Sans gluten</span>
                  <span class="label label-warning">Fruits à coque</span>
                  <span class="label label-warning">Lactose</span>
                  <span class="label label-warning">&OElig;uf</span>
                </div><!-- content -->
              </div><!-- / dish -->
            
              <div class="dish col-xs-12 onscreen-marker">
                <div class="content col-lg-12 col-md-12 col-xs-12">
                  <form action="/contact">
                    <em>Consultez-nous pour les nouveautés et la disponibilité des différents parfums</em><br />
                    <button type="submit" class="btn btn-danger"><i class="fa fa-phone"></i>&nbsp;&nbsp;Nous contacter</button>
                  </form>
                </div><!-- content -->
              </div><!-- / dish -->
            </div>

<% macarons.each do |type| %>

            <div class="a-set <%= type[:type] %> col-sm-2 col-xs-12">
              <div class="col-xs-12">
                <h2><%= type[:nom] %></h2>
              </div>
            
  <% type[:macarons].each do |macaron| %>
  
              <div class="dish col-xs-12 onscreen-marker">
                <div class="content col-lg-12 col-md-12 col-xs-12">
                  <h3><%= macaron[:parfum] %></h3>
                </div><!-- content -->
              </div><!-- / dish -->
  
  <% end %>
  
            </div><!-- / a-set -->

<% end %>

          </div><!-- / row -->
        </div><!-- / filter-container -->

      </div><!-- container -->

    </div><!-- / ht-menu -->