<div class="row">
  <div class="col-md-3">
    <%= image_tag 'macarons/macaron_2.jpg', width: '100%' %>
  </div>
  <div class="col-md-6">
    <div style="width: 100%; height: 500px; padding-bottom: 30px;">
      <script src="http://cdn.tagul.com/embed/vogtprk7aaer"></script>
    </div>
  </div>
  <div class="col-md-3">
    <%= image_tag 'macarons/macaron_3.jpg', width: '100%' %>
  </div>
</div>
