<h1>Nos macarons</h1>

Saveur au choix
<ul>
  <li>vanille</li>
  <li>chocolat</li>
  <li>café</li>
  <li>cramel beurre salé</li>
  <li>pistache</li>
  <li>citron</li>
  <li>fraise</li>
  <li>framboises</li>
  <li>myrtille</li>
  <li>orange passion chocolat</li>
  <li>pistache griotte</li>
  <li>mangue</li>
  <li>coco</li>
  <li>rose litchi</li>
</ul>
