<div id="ht-main-content" class="other">
  <div class="ht-page-heading">
    <div class="container">
      <div class="row">
        <div class="main-heading col-xs-12">
          <h1><strong>&middot;</strong> Proposer nos produits à la vente <strong>&middot;</strong></h1>
        </div>
        <div class="sub-heading col-sm-6 col-sm-offset-3 col-xs-12">
          <p>
            Vous avez une boutique et souhaitez proposer à votre clientèle nos produits? Vous êtes restaurateurs, gérant de salon de thé, ou organisateur d'évènements et souhaitez proposer des produits de qualité qui vous correspondent ? Pour chaque professionnel nous avons une solution, alors n'hésitez pas à <a href="/contact">nous contacter</a>.
          </p>
        </div><!-- / sub-heading -->
      </div><!-- / row -->
    </div>
  </div>
  <div class="ht-page-heading">
    <div class="container">
      <div class="row">
        <div class="main-heading col-xs-12">
          <h1><strong>&middot;</strong> Remerciements <strong>&middot;</strong></h1>
        </div>
        <div class="sub-heading col-sm-6 col-sm-offset-3 col-xs-12">
          <p>
            Nous tenons à remercier
            <ul>
              <li>Hadrien, de L'immobilière <a href="http://www.lepalatin.com" target="_blank">Le Palatin</a>, pour la conception de la charte graphique de L'Îlot Sucré</li>
              <li>Florian, de <a href="http://www.pixens.fr" target="_blank">Pixens</a>, pour les superbes photos de ce site</li>
              <li>Fabrice, du <a href="http://www.facebook.com/caveauostwald" target="_blank">Caveau d'Ostwald</a>, qui nous donne régulièrement l'opportunité de faire découvrir nos créations</li>
            </ul>
          </p>
        </div><!-- / sub-heading -->
      </div><!-- / row -->
    </div>
  </div>
</div>
<div id="ht-main-content" class="other">
  <div class="ht-page-heading">
    <div class="container">
      <div class="row">
        &nbsp;
      </div>
    </div>
  </div>
