<h1>Pour vos évènements</h1>

<ul class="list-group">
  <li class="list-group-item">
    <h4>Pièces montées macarons</h4>
    Choisissez une forme ou un thème et nous réalisons votre pièce montée en macarons sur mesure.
  </li>
  <li class="list-group-item">
    <h4>Wedding cakes</h4>
  </li>
  <li class="list-group-item">
    <h4>Gâteaux décorés sur mesure - Gâteaux 3D</h4>
    Envie d'un gâteau décoré pour vos occasions : mariage, anniversaire, goûter d'enfant... ? Nous vous proposons des gâteaux décorés, personnalisés sur mesure, à base de pâte à sucre ainsi que des gâteaux 3D. Nous <%= link_to "contacter", "/contact" %> pour concevoir ensemble un gâteau qui vous ressemble.
  </li>
  <li class="list-group-item">
    <h4>Animations bar à macarons (prochainement)</h4>
    Nous nous déplaçons avec notre présentoire pour animer vos évènements. Nous vous proposons le remplissage des macarons à la demande devant vos invités.
  </li>
  <li class="list-group-item">
    <h4>Sweet table (prochainement)</h4>
    Nous mettons en scène votre buffet sucré lors de vos événements autour d'un thème choisi. De quoi surprendre vos invités !
  </li>
</ul>
