<div id="ht-main-content" class="services">
  <div class="ht-page-heading">
    <div class="container">
      <div class="row">
        <div class="main-heading col-xs-12">
          <h1><strong>&middot;</strong> Pour vos évènements <strong>&middot;</strong></h1>
        </div><!-- / main-heading -->
      </div><!-- / row -->
    </div><!-- / container -->
  </div><!-- / page-heading -->
  
  <div id="ht-services">
    <div class="container">
      <div class="row">
        
        <div class="service srv-1 col-sm-4 col-xs-6">
          <i class="fa fa-4x fa-play fa-rotate-270" style="color:#da5252"></i>
          <h2>Pièces montées macarons</h2>
          <p class="onscreen-marker">Choisissez une forme ou un thème et nous réalisons votre pièce montée en macarons sur mesure.</p><br /><br />
          <a href="/contact" class="ht-btn btn-float">Nous contacter</a>
        </div>
        
        <div class="service srv-1 col-sm-4 col-xs-6">
          <i class="fa fa-4x fa-heart" style="color:#da5252"></i>
          <h2>Wedding cakes</h2>
          <p class="onscreen-marker">&Agrave; moment unique, dessert unique ! Contactez nous pour concevoir ensemble le wedding cake qui enchantera vos invités.</p><br />
          <a href="/contact" class="ht-btn btn-float">Nous contacter</a>
        </div>
        
        <div class="service srv-1 col-sm-4 col-xs-6">
          <i class="fa fa-4x fa-birthday-cake" style="color:#da5252"></i>
          <h2>Gâteaux décorés sur mesure - Gâteaux 3D</h2>
          <p class="onscreen-marker">Mariage, anniversaire, goûter d'enfant... ? Nous vous proposons des gâteaux décorés ou 3D, personnalisés sur mesure.</p><br />
          <a href="/gateaux_decores" class="ht-btn btn-float">Voir nos réalisations</a>
        </div>
        
        <div class="service srv-1 col-sm-4 col-sm-offset-2 col-xs-6">
          <i class="fa fa-4x fa-group" style="color:#da5252"></i>
          <h2>Animations bar à macarons</h2>
          <p class="onscreen-marker">Nous nous déplaçons avec notre présentoir pour animer vos évènements. Nous vous proposons le remplissage des macarons devant vos invités.</p><br />
          <a href="#" class="ht-btn btn-float">Prochainement</a>
        </div>
        
        <div class="service srv-1 col-sm-4 col-sm-offset-0 col-xs-6 col-xs-offset-3">
          <i class="fa fa-4x fa-cutlery" style="color:#da5252"></i>
          <h2>Sweet table</h2>
          <p class="onscreen-marker">Nous mettons en scène votre buffet sucré lors de vos événements autour d'un thème choisi. De quoi surprendre vos invités !</p><br />
          <a href="#" class="ht-btn btn-float">Prochainement</a>
        </div>
        
      </div><!-- / row -->
    </div><!-- container -->
  </div><!-- / ht-service -->

