<div id="ht-main-content" class="other">
  <div class="ht-page-heading">
    <div class="container">
      <div class="row">
        <div class="main-heading col-xs-12">
          <h1><strong>&middot;</strong> Pour vos évènements <strong>&middot;</strong></h1>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="panel-group" id="accordion">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapsed">Pièces montées macarons</a>
                  </h2>
                </div>
                <div id="collapse1" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    Choisissez une forme ou un thème et nous réalisons votre pièce montée en macarons sur mesure.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="collapsed">Wedding cakes</a>
                  </h2>
                </div>
                <div id="collapse2" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    ...
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="collapsed">Gâteaux décorés sur mesure - Gâteaux 3D</a>
                  </h2>
                </div>
                <div id="collapse3" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    Envie d'un gâteau décoré pour vos occasions : mariage, anniversaire, goûter d'enfant... ? Nous vous proposons des gâteaux décorés, personnalisés sur mesure, à base de pâte à sucre ainsi que des gâteaux 3D. Nous <%= link_to "contacter", "/contact" %> pour concevoir ensemble un gâteau qui vous ressemble.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="collapsed">Animations bar à macarons (prochainement)</a>
                  </h2>
                </div>
                <div id="collapse4" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    Nous nous déplaçons avec notre présentoire pour animer vos évènements. Nous vous proposons le remplissage des macarons à la demande devant vos invités.
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" class="collapsed">Sweet table (prochainement)</a>
                  </h2>
                </div>
                <div id="collapse5" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    Nous mettons en scène votre buffet sucré lors de vos événements autour d'un thème choisi. De quoi surprendre vos invités !
                  </div>
                </div>
              </div>
            </div>
          </div><!-- .panel-body -->
        </div><!-- /.panel -->
      </div><!-- / row -->
    </div>
  </div>
</div>
<div id="ht-main-content" class="other">
  <div class="ht-page-heading">
    <div class="container">
      <div class="row">
        &nbsp;
      </div>
    </div>
  </div>
