<h1>Nos tartes</h1>

<ul class="list-group">
  <li class="list-group-item">
    <h4>Tarte marrons myrtille</h4>
    Fond sucré frangipane, crème diplomate, meringue, crémeux myrtille et ses vermicelles crème aux marrons
  </li>
  <li class="list-group-item">
    <h4>Tarte aux agrumes meringués</h4>
    Fond sucré frangipane, crémeux aux agrumes et meringue
  </li>
  <li class="list-group-item">
    <h4>Tarte rhubarbe fraise</h4>
    Fond sucré, compoté rubarbe fraise, crémeux vanille façon crème brûlée et fraise fraiche et rubarbe pochée
  <li class="list-group-item">
    <h4>Tarte orange passion</h4>
    Fond sucré, confit orange passion, crémeux passion façon crème brûlée
  </li>
  <li class="list-group-item">
    <h4>Tarte d'automne</h4>
    Fond sucré, crème de noisette, pomme poire, flan et fruits sec
  </li>
  <li class="list-group-item">
    <h4>Tarte de saison</h4>
    
  </li>
</ul>